.Team-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 2rem;
    color: #2d3748;
}

.Team-gradient {
    background-image: linear-gradient(45deg, rgb(127, 0, 0), rgba(127, 0, 0, 0.501) 30%, white 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

@keyframes float2 {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
.animate-float-about {
    animation: float2 5s ease-in-out infinite;
}

@media (max-width: 375px) {
    .aboutus-dimond{
        padding-top: 5rem;
    } 

    .Team-heading {
        font-size: 2rem;
    }

    .dimond-text {
        font-size: 1rem;
    }

    .hero-section {
        height: 50vh;
    }

    .div-info {
        padding-top: 2rem;
    }

    /* diamond page */
    .msg-heading{
        font-size:1rem;
    }
    .chairman-img-div{
        width: 18rem;
        height: 18rem;
    }
    .msg-logo-div{
        width: 5rem;
        height: 5rem;
    }
    .main-msg-div{
        display: block;
        margin: 0 auto;
    }
    .sub-msg-div{
        width: 100%;
        margin-bottom: 1rem;
    }
    .secretary-img-div{
        width: 5rem;
        height: 5rem;
    }
}

@media (min-width: 376px) and (max-width: 480px) {
    .aboutus-dimond{
        padding-top: 5rem;
    } 
    .Team-heading {
        font-size: 3rem;
    }

    .dimond-text {
        font-size: 1rem;
    }

    .hero-section {
        height: 50vh;
    }

    .div-info {
        padding-top: 2rem;
    }

    /* diamond page */
    .msg-heading{
        font-size:1rem;
    }
    .chairman-img-div{
        width: 18rem;
        height: 18rem;
    }
    .msg-logo-div{
        width: 5rem;
        height: 5rem;
    }
    .main-msg-div{
        display: block;
        margin: 0 auto;
    }
    .sub-msg-div{
        width: 100%;
        margin-bottom: 1rem;
    }
    .secretary-img-div{
        width: 5rem;
        height: 5rem;
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    .aboutus-dimond{
        padding-top: 5rem;
    } 
    .Team-heading {
        font-size: 3.5rem;
    }

    .dimond-text {
        font-size: 1rem;
    }

    .hero-section {
        height: 50vh;
    }

    .div-info {
        padding-top: 2rem;
    }
    /* diamond page */
    .msg-heading{
        font-size:1.5rem;
    }
    .chairman-img-div{
        width: 18rem;
        height: 18rem;
    }
    .msg-logo-div{
        width: 5rem;
        height: 5rem;
    }
    .main-msg-div{
        display: block;
        margin: 0 auto;
    }
    .sub-msg-div{
        width: 100%;
        margin-bottom: 1rem;
    }
    .secretary-img-div{
        width: 5rem;
        height: 5rem;
    }
}

@media (min-width: 641px) and (max-width: 767px) {
    .aboutus-dimond{
        padding-top: 5rem;
    } 
    .Team-heading {
        font-size: 4rem;
    }

    .dimond-text {
        font-size: 1.5rem;
    }

    .hero-section {
        height: 50vh;
    }

    .div-info{
        padding-top: 2rem;
    }
    /* diamond page */
    .msg-heading{
        font-size:1.5rem;
    }
    .chairman-img-div{
        width: 18rem;
        height: 18rem;
    }
    .msg-logo-div{
        width: 5rem;
        height: 5rem;
    }
    .main-msg-div{
        display: block;
        margin: 0 auto;
    }
    .sub-msg-div{
        width: 100%;
        margin-bottom: 1rem;
    }
    .secretary-img-div{
        width: 5rem;
        height: 5rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .aboutus-dimond{
        padding-top: 5rem;
    } 

    .Team-heading {
        font-size: 4rem;
    }

    .dimond-text {
        font-size: 1.5rem;
    }

    .hero-section {
        height: 50vh;
    }

    .div-info{
        padding-top: 2.5rem;
    }

    /* diamond page */
    .msg-heading{
        font-size:1.5rem;
    }
    .chairman-img-div{
        width: 25rem;
        height: 25rem;
    }
    .msg-logo-div{
        width: 5rem;
        height: 5rem;
    }
    .main-msg-div{
        display: block;
        margin: 0 auto;
    }
    .sub-msg-div{
        width: 100%;
        margin-bottom: 1rem;
    }
    .secretary-img-div{
        width: 5rem;
        height: 5rem;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .aboutus-dimond{
        padding-top: 7.2rem;
    } 

    .Team-heading {
        font-size: 4rem;
    }

    .dimond-text {
        font-size: 1.5rem;
    }

    .div-info{
        padding-top: 2.5rem;
    }

    /* diamond page */
    .msg-heading{
        font-size: 2rem;
    }
    .chairman-img-div{
        width: 20rem;
        height: 20rem;
    }
    .msg-logo-div{
        width: 5rem;
        height: 5rem;
    }
    .main-msg-div{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
    }
    .sub-msg-div{
        width: 100%;
        margin-bottom: 1rem;
    }
    .secretary-img-div{
        width: 5rem;
        height: 5rem;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    .aboutus-dimond{
        padding-top: 7rem;
    } 

    .Team-heading {
        font-size: 4rem;
    }

    .dimond-text {
        font-size: 1.5rem;
    }

    .div-info{
        padding-top: 2.5rem;
    }

        /* diamond page */
        .msg-heading{
            font-size: 2rem;
        }
        .chairman-img-div{
            width: 20rem;
            height: 20rem;
        }
        .msg-logo-div{
            width: 5rem;
            height: 5rem;
        }
        .main-msg-div{
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 1rem;
        }
        .sub-msg-div{
            width: 100%;
            margin-bottom: 1rem;
        }
        .secretary-img-div{
            width: 5rem;
            height: 5rem;
        }
}

@media (min-width: 1441px) and (max-width: 1920px) {
    .aboutus-dimond{
        padding-top: 8.5rem;
    }    

    .Team-heading {
        font-size: 4rem;
    }

    .dimond-text {
        font-size: 1.5rem;
    }

    .div-info{
        padding-top: 2.5rem;
    }

     /* diamond page */
     .msg-heading{
        font-size: 2rem;
    }
    .chairman-img-div{
        width: 20rem;
        height: 20rem;
    }
    .msg-logo-div{
        width: 5rem;
        height: 5rem;
    }
    .main-msg-div{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
    }
    .sub-msg-div{
        width: 100%;
        margin-bottom: 1rem;
    }
    .secretary-img-div{
        width:7rem;
        height:7rem;
    }
}

@media (min-width: 1921px) {
    .aboutus-dimond{
        padding-top: 12rem;
    }
    .Team-heading {
        font-size: 4rem;
    }

    .dimond-text {
        font-size: 1.5rem;
    }

    .div-info{
        padding-top: 2.5rem;
    }

     /* diamond page */
     .msg-heading{
        font-size: 2rem;
    }
    .chairman-img-div{
        width: 20rem;
        height: 20rem;
    }
    .msg-logo-div{
        width: 5rem;
        height: 5rem;
    }
    .main-msg-div{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
    }
    .sub-msg-div{
        width: 100%;
        margin-bottom: 1rem;
    }
    .secretary-img-div{
        width: 5rem;
        height: 5rem;
    }
}