@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 375px) {
    footer {
        width: 100%;
        height: auto;
        margin-top: 5rem;
        padding: 2rem 1rem;
    }

    .div-map {
        display: none;
    }

    .footer-div {
        padding: 10px 5px;
    }

    .footer-logo {
        width: 10rem;
        margin: 0 auto;
    }

    .animate-float {
        animation: float 3s ease-in-out infinite;
    }

    .hospital-name-footer {
        font-weight: bolder;
        font-size: 1.5rem;
    }

    .footer-div-heading {
        color: rgb(0, 0, 41);
        position: relative;
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .footer-div-heading::after {
        width: 100%;
        position: absolute;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: rgb(1, 61, 61);
        border-radius: 50%;
        content: '';
    }

    .footer-text {
        font-size: 1rem;
    }

}

@media (min-width: 376px) and (max-width: 480px) {
    footer {
        width: 100%;
        height: auto;
        margin-top: 5rem;
        padding: 2rem 1rem;
    }

    .div-map {
        display: none;
    }

    .footer-div {
        padding: 10px 5px;
    }

    .footer-logo {
        width: 10rem;
        margin: 0 auto;
    }

    .animate-float {
        animation: float 3s ease-in-out infinite;
    }

    .hospital-name-footer {
        font-weight: bolder;
        font-size: 1.5rem;
    }

    .footer-div-heading {
        color: rgb(0, 0, 41);
        position: relative;
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .footer-div-heading::after {
        width: 100%;
        position: absolute;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: rgb(1, 61, 61);
        border-radius: 50%;
        content: '';
    }

    .footer-text {
        font-size: 1rem;
    }

}

@media (min-width: 481px) and (max-width: 640px) {
    footer {
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 2rem 1rem;
        border-radius: 16px;
    }

    .div-map {
        display: none;
    }

    .footer-div {
        padding: 10px 5px;
    }

    .footer-logo {
        width: 16rem;
        margin: 0 auto;
    }

    .animate-float {
        animation: float 3s ease-in-out infinite;
    }

    .hospital-name-footer {
        font-weight: bolder;
        font-size: 2rem;
    }

    .footer-div-heading {
        color: rgb(0, 0, 41);
        position: relative;
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.7rem;
    }

    .footer-div-heading::after {
        width: 100%;
        position: absolute;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: rgb(1, 61, 61);
        border-radius: 50%;
        content: '';
    }

    .footer-text {
        font-size: 1.3rem;
    }

}

@media (min-width: 641px) and (max-width: 767px) {
    footer {
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 2rem 1rem;
        border-radius: 16px;
    }

    .div-map {
        display: none;
    }

    .footer-div {
        padding: 10px 5px;
    }

    .footer-logo {
        width: 16rem;
        margin: 0 auto;
    }

    .animate-float {
        animation: float 3s ease-in-out infinite;
    }

    .hospital-name-footer {
        font-weight: bolder;
        font-size: 2rem;
    }

    .footer-div-heading {
        color: rgb(0, 0, 41);
        position: relative;
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.7rem;
    }

    .footer-div-heading::after {
        width: 100%;
        position: absolute;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: rgb(1, 61, 61);
        border-radius: 50%;
        content: '';
    }

    .footer-text {
        font-size: 1.3rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    footer {
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 2rem 2rem;
        border-radius: 16px;
        display: grid;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .div-map {
        display: block;
        width: 100%;
        height: 25rem;
        position: relative;
        border-radius: 16px;
        overflow: hidden;
    }

    .footer-div {
        padding: 10px 15px;
    }

    .footer-logo {
        width: 15rem;
        margin: 0 auto;
    }

    .animate-float {
        animation: float 3s ease-in-out infinite;
    }

    .hospital-name-footer {
        font-weight: bolder;
        font-size: 1.2rem;
    }

    .footer-div-heading {
        color: rgb(0, 0, 41);
        position: relative;
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .footer-div-heading::after {
        width: 100%;
        position: absolute;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: rgb(1, 61, 61);
        border-radius: 50%;
        content: '';
    }

    .footer-text {
        font-size: 1rem;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    footer {
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 2rem 2rem;
        border-radius: 16px;
        display: grid;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .div-map {
        display: block;
        width: 100%;
        height: 25rem;
        position: relative;
        border-radius: 16px;
        overflow: hidden;
    }

    .footer-div {
        padding: 10px 15px;
    }

    .footer-logo {
        width: 15rem;
        margin: 0 auto;
    }

    .animate-float {
        animation: float 3s ease-in-out infinite;
    }

    .hospital-name-footer {
        font-weight: bolder;
        font-size: 1.5rem;
    }

    .footer-div-heading {
        color: rgb(0, 0, 41);
        position: relative;
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.7rem;
    }

    .footer-div-heading::after {
        width: 100%;
        position: absolute;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: rgb(1, 61, 61);
        border-radius: 50%;
        content: '';
    }

    .footer-text {
        font-size: 1.3rem;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    footer {
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 1rem 1rem;
        border-radius: 16px;
        display: grid;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .div-map {
        display: block;
        width: 100%;
        height: 20.5rem;
        position: relative;
        border-radius: 16px;
        overflow: hidden;
    }

    .footer-div {
        padding: 10px ;
    }

    .footer-logo {
        width: 10rem;
        margin: 0 auto;
    }

    .animate-float {
        animation: float 3s ease-in-out infinite;
    }

    .hospital-name-footer {
        font-weight: bolder;
        font-size: 1.2rem;
    }

    .footer-div-heading {
        color: rgb(0, 0, 41);
        position: relative;
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }

    .footer-div-heading::after {
        width: 100%;
        position: absolute;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: rgb(1, 61, 61);
        border-radius: 50%;
        content: '';
    }

    .footer-text {
        font-size: 0.9rem;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) {
    footer {
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 1rem 1rem;
        border-radius: 16px;
        display: grid;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .div-map {
        display: block;
        width: 100%;
        height: 25rem;
        position: relative;
        border-radius: 16px;
        overflow: hidden;
    }

    .footer-div {
        padding: 10px ;
    }

    .footer-logo {
        width: 15rem;
        margin: 0 auto;
    }

    .animate-float {
        animation: float 3s ease-in-out infinite;
    }

    .hospital-name-footer {
        font-weight: bolder;
        font-size: 1.5rem;
    }

    .footer-div-heading {
        color: rgb(0, 0, 41);
        position: relative;
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .footer-div-heading::after {
        width: 100%;
        position: absolute;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: rgb(1, 61, 61);
        border-radius: 50%;
        content: '';
    }

    .footer-text {
        font-size: 1.2rem;
    }
}

@media (min-width: 1921px) {
    footer {
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 1rem 1rem;
        border-radius: 16px;
        display: grid;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .div-map {
        display: block;
        width: 100%;
        height: 30rem;
        position: relative;
        border-radius: 16px;
        overflow: hidden;
    }

    .footer-div {
        padding: 10px ;
    }

    .footer-logo {
        width: 17rem;
        margin: 0 auto;
    }

    .animate-float {
        animation: float 3s ease-in-out infinite;
    }

    .hospital-name-footer {
        font-weight: bolder;
        font-size: 1.7rem;
    }

    .footer-div-heading {
        color: rgb(0, 0, 41);
        position: relative;
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .footer-div-heading::after {
        width: 100%;
        position: absolute;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: rgb(1, 61, 61);
        border-radius: 50%;
        content: '';
    }

    .footer-text {
        font-size: 1.3rem;
    }
}