@media (max-width: 375px) {
    .nav-header {
        position: fixed;
        z-index: 999;
        background-color: white;
        height: 5rem;
        padding-top: 18px;
        box-shadow: 0px 10px 10px 0px rgb(136, 136, 189);
    }

    .topbar {
        position: fixed;
        width: 40%;
        padding: 5px 0;
        right: 0;
        top: 0;
        color: white;
        font-weight: bold;
    }

    .top-custom-space > * + * {
        margin-left: 10px;
    }

    .tri-img {
        position: absolute;
        width: 30px;
        margin-top: -12px;
        margin-left: -1px;
    }

    .topbar-icon {
        font-weight: bolder;
        height: 7px;
        width: 7px;
    }

    .topbar-text {
        font-weight: bold;
        font-size: 5px;
    }
    .second-icon{
        display: none;
    }

    /* logo */
    .logo-name-div {
        display: none;
    }

    .mobile-logo {
        display: block;
        width: 12.5rem;
        margin-top: -18px;
        margin-left: 0.5rem;
    }

    /* navbar */
    .desktop-nav {
        display: none;
    }
}

@media (min-width: 376px) and (max-width: 480px) {
    .nav-header {
        position: fixed;
        z-index: 999;
        background-color: white;
        height: 5rem;
        padding-top: 18px;
        box-shadow: 0px 10px 10px 0px rgb(136, 136, 189);
    }

    .topbar {
        position: fixed;
        width: 40%;
        padding: 5px 0;
        right: 0;
        top: 0;
        color: white;
        font-weight: bold;
    }

    .top-custom-space > * + * {
        margin-left: 10px;
    }

    .tri-img {
        position: absolute;
        width: 45px;
        margin-top: -12px;
        margin-left: -1px;
    }

    .topbar-icon {
        font-weight: bolder;
        height: 10px;
        width: 10px;
    }

    .topbar-text {
        font-weight: bold;
        font-size: 6px;
    }
    .second-icon{
        display: none;
    }

    /* logo */
    .logo-name-div {
        display: none;
    }

    .mobile-logo {
        display: block;
        width: 12.5rem;
        margin-top: -18px;
        margin-left: 2rem;
    }

    /* navbar */
    .desktop-nav {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    .nav-header {
        position: fixed;
        z-index: 999;
        background-color: white;
        height: 5rem;
        padding-top: 18px;
        box-shadow: 0px 10px 10px 0px rgb(136, 136, 189);
    }

    .topbar {
        position: fixed;
        width: 35%;
        padding: 5px 0;
        right: 0;
        top: 0;
        color: white;
        font-weight: bold;
    }

    .top-custom-space > * + * {
        margin-left: 10px;
    }

    .tri-img {
        position: absolute;
        width: 45px;
        margin-top: -12px;
        margin-left: -1px;
    }

    .topbar-icon {
        font-weight: bolder;
        height: 10px;
        width: 10px;
    }

    .topbar-text {
        font-weight: bold;
        font-size: 8px;
    }
    .second-icon{
        display: none;
    }

    /* logo */
    .logo-name-div {
        display: none;
    }

    .mobile-logo {
        display: block;
        width: 12.5rem;
        margin-top: -18px;
        margin-left: 2rem;
    }

    /* navbar */
    .desktop-nav {
        display: none;
    }
}

@media (min-width: 641px) and (max-width: 767px) {
    .nav-header {
        position: fixed;
        z-index: 999;
        background-color: white;
        height: 5rem;
        padding-top: 18px;
        box-shadow: 0px 10px 10px 0px rgb(136, 136, 189);
    }

    .topbar {
        position: fixed;
        width: 40%;
        padding: 5px 0;
        right: 0;
        top: 0;
        color: white;
        font-weight: bold;
    }

    .top-custom-space > * + * {
        margin-left: 10px;
    }

    .tri-img {
        position: absolute;
        width: 45px;
        margin-top: -12px;
        margin-left: -1px;
    }

    .topbar-icon {
        font-weight: bolder;
        height: 15px;
        width: 15px;
    }

    .topbar-text {
        font-weight: bold;
        font-size: 10px;
    }
    .second-icon{
        display: none;
    }

    /* logo */
    .logo-name-div {
        display: none;
    }

    .mobile-logo {
        display: block;
        width: 12.5rem;
        margin-top: -18px;
        margin-left: 2rem;
    }

    /* navbar */
    .desktop-nav {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-header {
        position: fixed;
        z-index: 999;
        background-color: white;
        height: 6rem;
        padding-top: 18px;
        box-shadow: 0px 10px 10px 0px rgb(136, 136, 189);
    }

    .topbar {
        position: fixed;
        width: 30%;
        padding: 5px 0;
        right: 0;
        top: 0;
        color: white;
        font-weight: bold;
    }

    .top-custom-space > * + * {
        margin-left: 10px;
    }

    .tri-img {
        position: absolute;
        width: 45px;
        margin-top: -12px;
        margin-left: -1px;
    }

    .topbar-icon {
        font-weight: bolder;
        height: 15px;
        width: 15px;
    }

    .topbar-text {
        font-weight: bold;
        font-size: 10px;
    }
    .second-icon{
        display: none;
    }

    /* logo */
    .logo-name-div {
        width: 35rem;
        margin-left: 1rem;
        margin-top: -5px;
    }

    .logo-div {
        width: 3.5rem;
        z-index: 20;
        margin-right: 5px;
    }

    .logo-nav {
        width: 3.5rem;
        z-index: 20;
    }

    .hospital-Desk-name {
        font-size: 0.9rem;
    }

    .hospital-name {
        font-size: 14px;
        font-weight: 800;
        line-height: normal;
        padding: 0 10px;
    }

    .hostipal-name-span {
        padding: 3px 8px;
        font-size: 10px;
    }

    .nabh-div {
        width: 3rem;
    }

    .mobile-logo {
        display: none;
    }

    /* navbar */
    .desktop-nav {
        display: none;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .nav-header {
        position: fixed;
        z-index: 999;
        background-color: white;
        height: 7rem;
        padding-top: 18px;
        box-shadow: 0px 10px 10px 0px rgb(136, 136, 189);
    }

    .topbar {
        position: fixed;
        width: 38%;
        padding: 10px 0;
        right: 0;
        top: 0;
        color: white;
        font-weight: bold;
    }

    .top-custom-space > * + * {
        margin-left: 1rem;
    }

    .tri-img {
        position: absolute;
        width: 45px;
        margin-top: -10px;
        margin-left: -1px;
    }

    .topbar-icon {
        font-weight: bolder;
        height: 15px;
        width: 15px;
    }

    .topbar-text {
        font-weight: bold;
        font-size: 12px;
    }

    /* logo */
    .logo-name-div {
        width: 48rem;
        margin-left: 5rem;
        margin-top: -5px;
    }

    .logo-div {
        width: 4rem;
        z-index: 20;
        margin-right: 10px;
    }

    .logo-nav {
        width: 4rem;
        z-index: 20;
    }

    .hospital-Desk-name {
        font-size: 0.9rem;
    }

    .hospital-name {
        font-size: 1rem;
        font-weight: 800;
        line-height: normal;
        padding: 0 10px;
    }

    .hostipal-name-span {
        padding: 3px 8px;
        font-size: 12px;
    }

    .nabh-div {
        width: 3.5rem;
    }

    .mobile-logo {
        display: none;
    }

    /* navbar */
    .desktop-nav {
        font-size: 0.8rem;
        font-weight: 500;
        padding-bottom: 7px;
        margin-top: -7px;
        margin-left: 10rem;
    }

    .nav-custom-space>*+* {
        margin-left: 12px;
    }

    .navbar-link {
        padding: 5px 7px;
        transition: all 0.5s;
    }

    .navbar-link:hover {
        border: none;
        border-radius: 7px;
    }

    .navbar-link:hover .nav-a {
        color: white;
    }

    .dropdown1:hover .dropdown-div1,
    .dropdown2:hover .dropdown-div2,
    .dropdown3:hover .dropdown-div3,
    .dropdown4:hover .dropdown-div4 {
        display: block;
        visibility: visible;
        transition: all 1s;
    }

    .dropdown1:hover .drop-icon,
    .dropdown2:hover .drop-icon,
    .dropdown3:hover .drop-icon,
    .dropdown4:hover .drop-icon {
        transform: rotate(180deg);
    }

    /* dropdown */
    .dropdown-div1,
    .dropdown-div2,
    .dropdown-div3,
    .dropdown-div4 {
        display: none;
        visibility: hidden;
        position: absolute;
        min-width: 15rem;
        border-top: 2px solid blue;
        border-radius: 7px;
        z-index: 99;
        background: white;
        margin-top: 0.5rem;
        margin-left: -0.4rem;
        padding-top: 0.5rem;
    }

    .drop-li{
        border-radius: 10px;
    }
    .drop-li:hover{
        color: white;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    .nav-header {
        position: fixed;
        z-index: 999;
        background-color: white;
        height: 7rem;
        padding-top: 18px;
        box-shadow: 0px 10px 10px 0px rgb(136, 136, 189);
    }

    .topbar {
        position: fixed;
        width: 35%;
        padding: 10px 0;
        right: 0;
        top: 0;
        color: white;
        font-weight: bold;
    }

    .top-custom-space > * + * {
        margin-left: 1.2rem;
    }

    .tri-img {
        position: absolute;
        width: 45px;
        margin-top: -10px;
        margin-left: -1px;
    }

    .topbar-icon {
        font-weight: bolder;
        height: 20px;
        width: 20px;
    }

    .topbar-text {
        font-weight: bold;
        font-size: 14px;
    }

    /* logo */
    .logo-name-div {
        width: 48rem;
        margin-left: 5rem;
        margin-top: -5px;
    }

    .logo-div {
        width: 4rem;
        z-index: 20;
        margin-right: 10px;
    }

    .logo-nav {
        width: 4rem;
        z-index: 20;
    }

    .hospital-Desk-name {
        font-size: 0.9rem;
    }

    .hospital-name {
        font-size: 1rem;
        font-weight: 800;
        line-height: normal;
        padding: 0 10px;
    }

    .hostipal-name-span {
        padding: 3px 8px;
        font-size: 12px;
    }

    .nabh-div {
        width: 3.5rem;
    }

    .mobile-logo {
        display: none;
    }

    /* navbar */
    .desktop-nav {
        font-size: 0.8rem;
        font-weight: 500;
        padding-bottom: 7px;
        margin-top: -7px;
        margin-left: 10rem;
    }

    .nav-custom-space>*+* {
        margin-left: 1.1rem;
    }

    .navbar-link {
        padding: 5px 7px;
        transition: all 0.5s;
    }

    .navbar-link:hover {
        border: none;
        border-radius: 7px;
    }

    .navbar-link:hover .nav-a {
        color: white;
    }

    .dropdown1:hover .dropdown-div1,
    .dropdown2:hover .dropdown-div2,
    .dropdown3:hover .dropdown-div3,
    .dropdown4:hover .dropdown-div4 {
        display: block;
        visibility: visible;
        transition: all 1s;
    }

    .dropdown1:hover .drop-icon,
    .dropdown2:hover .drop-icon,
    .dropdown3:hover .drop-icon,
    .dropdown4:hover .drop-icon {
        transform: rotate(180deg);
    }

    /* dropdown */
    .dropdown-div1,
    .dropdown-div2,
    .dropdown-div3,
    .dropdown-div4 {
        display: none;
        visibility: hidden;
        position: absolute;
        min-width: 15rem;
        border-top: 2px solid blue;
        border-radius: 7px;
        z-index: 99;
        background: white;
        margin-top: 0.5rem;
        margin-left: -0.4rem;
        padding-top: 0.5rem;
    }

    .drop-li{
        border-radius: 10px;
    }
    .drop-li:hover{
        color: white;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) {
    .nav-header {
        position: fixed;
        z-index: 999;
        background-color: white;
        height: 8.5rem;
        padding-top: 18px;
        box-shadow: 0px 10px 10px 0px rgb(136, 136, 189);
    }

    .topbar {
        position: fixed;
        width: 30%;
        padding: 10px 0;
        right: 0;
        top: 0;
        color: white;
        font-weight: bold;
    }

    .top-custom-space > * + * {
        margin-left: 1.5rem;
    }

    .tri-img {
        position: absolute;
        width: 45px;
        margin-top: -10px;
        margin-left: -1px;
    }

    .topbar-icon {
        font-weight: bolder;
        height: 15px;
        width: 15px;
    }

    .topbar-text {
        font-weight: bold;
        font-size: 14px;
    }

    /* logo */
    .logo-name-div {
        width: 48rem;
        margin-left: 5rem;
        margin-top: -5px;
    }

    .logo-div {
        width: 5rem;
        z-index: 20;
        margin-right: 10px;
    }

    .logo-nav {
        width: 5rem;
        z-index: 20;
    }

    .hospital-Desk-name {
        font-size: 1rem;
        line-height: normal;
    }

    .hospital-name {
        font-size: 1rem;
        font-weight: 800;
        line-height: 1.5;
        padding: 0 10px;
    }

    .hostipal-name-span {
        padding: 5px 10px;
        font-size: 14px;
    }

    .nabh-div {
        width: 4.5rem;
    }

    .mobile-logo {
        display: none;
    }

    /* navbar */
    .desktop-nav {
        font-size: 1.1rem;
        font-weight: 500;
        padding-bottom: 7px;
        margin-top: -10px;
        margin-left: 11rem;
    }

    .nav-custom-space>*+* {
        margin-left: 1.5rem
    }

    .navbar-link {
        padding: 5px 7px;
        transition: all 0.5s;
    }

    .navbar-link:hover {
        border: none;
        border-radius: 7px;
    }

    .navbar-link:hover .nav-a {
        color: white;
    }

    .dropdown1:hover .dropdown-div1,
    .dropdown2:hover .dropdown-div2,
    .dropdown3:hover .dropdown-div3,
    .dropdown4:hover .dropdown-div4 {
        display: block;
        visibility: visible;
        transition: all 1s;
    }

    .dropdown1:hover .drop-icon,
    .dropdown2:hover .drop-icon,
    .dropdown3:hover .drop-icon,
    .dropdown4:hover .drop-icon {
        transform: rotate(180deg);
    }

    /* dropdown */
    .dropdown-div1,
    .dropdown-div2,
    .dropdown-div3,
    .dropdown-div4 {
        display: none;
        visibility: hidden;
        position: absolute;
        min-width: 15rem;
        border-top: 2px solid blue;
        border-radius: 7px;
        z-index: 99;
        background: white;
        margin-top: 0.5rem;
        margin-left: -0.4rem;
        padding-top: 0.5rem;
    }

    .drop-li{
        border-radius: 10px;
    }
    .drop-li:hover{
        color: white;
    }
}

@media (min-width: 1921px) {
    .nav-header {
        position: fixed;
        z-index: 999;
        background-color: white;
        height: 12rem;
        padding-top: 18px;
        box-shadow: 0px 10px 10px 0px rgb(136, 136, 189);
    }

    .topbar {
        position: fixed;
        width: 30%;
        padding: 10px 0;
        right: 0;
        top: 0;
        color: white;
        font-weight: bold;
    }

    .top-custom-space > * + * {
        margin-left: 3rem;
    }

    .tri-img {
        position: absolute;
        width: 50px;
        margin-top: -10px;
        margin-left: -1px;
    }

    .topbar-icon {
        font-weight: bolder;
        height: 15px;
        width: 15px;
    }

    .topbar-text {
        font-weight: bold;
    }

    /* logo */
    .logo-name-div {
        width: 48rem;
        margin-left: 5rem;
    }

    .logo-div {
        width: 8rem;
        z-index: 20;
        margin-right: 10px;
    }

    .logo-nav {
        width: 8rem;
        z-index: 20;
    }

    .hospital-Desk-name {
        font-size: 1.5rem;
        line-height: normal;
    }

    .hospital-name {
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 1.5;
        padding: 0 10px;
    }

    .hostipal-name-span {
        padding: 5px 10px;
    }

    .nabh-div {
        width: 7rem;
    }

    .mobile-logo {
        display: none;
    }

    /* navbar */
    .desktop-nav {
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 7px;
        margin-top: -14px;
        margin-left: 14.3rem;
    }

    .nav-custom-space>*+* {
        margin-left: 2.5rem
    }

    .navbar-link {
        padding: 5px 7px;
        transition: all 0.5s;
    }

    .navbar-link:hover {
        border: none;
        border-radius: 7px;
    }

    .navbar-link:hover .nav-a {
        color: teal;
    }

    .dropdown1:hover .dropdown-div1,
    .dropdown2:hover .dropdown-div2,
    .dropdown3:hover .dropdown-div3,
    .dropdown4:hover .dropdown-div4 {
        display: block;
        visibility: visible;
        transition: all 1s;
    }

    .dropdown1:hover .drop-icon,
    .dropdown2:hover .drop-icon,
    .dropdown3:hover .drop-icon,
    .dropdown4:hover .drop-icon {
        transform: rotate(180deg);
    }

    /* dropdown */
    .dropdown-div1,
    .dropdown-div2,
    .dropdown-div3,
    .dropdown-div4 {
        display: none;
        visibility: hidden;
        position: absolute;
        min-width: 15rem;
        border-top: 2px solid blue;
        border-radius: 7px;
        z-index: 99;
        background: white;
        margin-top: 0.5rem;
        margin-left: -0.4rem;
        padding-top: 0.5rem;
    }

    .drop-li{
        border-radius: 10px;
    }
    .drop-li:hover{
        color: white;
    }
}